.button {
    background-color: green;
    color: white;
}

@scope bad {
    .button {
        background-color: red;
        color: white;
    }
}

@scope global {
    body {
        color: purple;
    }
}